.bg-wrapper {
    
    height: 250px;
    display: flex;
    align-items: center;
  
    color: black;
    font-size: 80px;
    font-weight: bold;
    z-index: 1;
  }
  
  .bg-wrapper::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url(frontpage.webp);
    background-size: cover;
    background-position: center;
    opacity: 1; /* full image */
    z-index: 2; /* above text */
    pointer-events: none;
  }
  